/****************GENERAL****************/
html{
	font-family: 'Lora', serif;
	padding: 0;
	margin: 0;
}
body{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-top: 3px solid #ff9e55;
	margin: 0;
	padding: 0;
}
ul  {
	list-style: none;
	display: flex;
	flex-grow:1;
	padding: 0 100px;
}

.col{
		margin: 0 10vh;
}
/*******************HEADER**************/
.header li{
	flex-direction: row;
	margin: auto;
	padding: 23px 60px;
	flex-wrap: nowrap;
	border-radius: 32% 12%;
	text-align: center;
}
.header li a {
	text-decoration: none;
	list-style: none;	
	color:#263747;
	font-size: 50px;
}
.header li:hover {
  border-top: 2px solid #ff9e55;
	border-bottom: 2px solid #ff9e55;
}
.header li:before{
	background-color: red;
}
.header{
	display: flex;
	height: 150px;
	align-items: center;
	background-color: #fff;
}
.header-img{
	margin-left:10px;
	width: 15vh;
	height: 15vh;
}
header li+li{
	margin: 0 40px;
}
header li:visited{
	background-color: #11314f;
}
/*******************CONTENT********************/
.content-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #f2f2f2;
}
.content{
	display: flex;
	flex-direction: row;
  background-color: #f2f2f2;
	padding: 15px 0;
	flex-grow: 1;
}
.left-content,
.top-content,
.bottom-content{
	flex-grow: 1;
	box-shadow:inset 1px 1px 75px #ff9e55;
	margin-right: 15px;
	background-color: #fff;
	display: flex;
  flex-direction: column;
}
.content p {
	text-align: center;
	font-size: 25px;
}
.right-content{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.top-content{
	margin-bottom: 15px;
}
.left-content-text {
	text-align: center;
}
.left-content-text ul{
	display: block;
	align-items: center;
}
.left-content-text li{
	font-size: 20px;
	line-height: 1.6em;
	align-items: center;
}
/***********TABLE***************/
.table{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 3px solid #263747;
	margin: 10px 10vh;
}	
.table-ul{
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
.table-ul ul{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.table-ul li{
	flex-grow: 1;
	border-bottom: 1px solid #11314f;
	text-align: center;
}
.table-ul-right,
.table-ul-left{
	display: flex;
	flex-grow: 1;
}
/*****************FOOTER*******************************/
.footer{
	display: flex;
  height: 100px;
	align-items: center;
	background-color: #fff;
}
.footer ul {
 	padding: 0 auto;
}
.footer li{
	flex-direction: row;
	flex-grow: 1;
	padding: 10px 11px;
	background-color: #fff;
	border-radius: 32% 12%;
	text-align: center;
}
.footer li a {
	list-style: none;
	text-decoration: none;
}
.footer li:hover {
  border-top: 2px solid #ff9e55;
	border-bottom: 2px solid #ff9e55;
}
/***************BTN-FEEDBACK****************/
.feedback {
    position: absolute;
    right: 50vw;
    left: 50vw;
    top: 55px;
    width: 150px;
    height: 70px;
    background: #ff9e55;
    border-radius: 50px;
    text-align: center;
}

.feedback.active {
  width: 500px;
  height: 550px;
	background-color: #ff9e55;
}
.open-close:hover{
	cursor: pointer;
  box-shadow:inset 5px -5px 37px #7e9ee0;
	border-radius: 50px;
}
.feedback .open-close {
  position: absolute;
  top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  text-align: right;
}
.feedback.active .open-close {
  width: 50px;
  height: 50px;
	background-color: #ff9e55;
	border-radius: 22%;
  padding: 31px;
	text-align: center;
}
.feedback .content-mini {
  display: block;
}
.feedback.active .content-mini {
  display: none;
}
.feedback .content-feed {
  display: none;
}
.feedback.active .content-feed {
  display: block;
}
.textArea{
	 resize: none; 
}
.content-flex-feed p{
	font-size: 17px;
}
.content-flex-feed{
	margin-top: 25px;
}
