/****************GENERAL****************/
html{
	font-family: 'Lora', serif;
	padding: 0;
	margin: 0;
}
body{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-top: 3px solid #ff9e55;
	margin: 0;
	padding: 0;
	min-width: 1900px;
	min-height: 500px;
}
ul  {
	list-style: none;
	display: flex;
	flex-grow:1;
	padding: 0 100px;
}

.col{
		margin: 0 10vh;
}
/*******************HEADER**************/
.header{
	display: flex;
	height: 150px;
	align-items: center;
	background-color: #fff;
	flex: none;
}
.header li{
	flex-direction: row;
	margin-left: 100px;
	padding: 23px 60px;
	flex-wrap: nowrap;
	border-radius: 32% 12%;
	text-align: center;
	border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.header-ul{
	margin: 0 200px;
}
.header-ul li {
	margin: 0 100px;
}
.header li a {
	text-decoration: none;
	list-style: none;	
	color:#263747;
	font-size: 50px;
}
.header li:hover {
  border-top: 2px solid #ff9e55;
  border-bottom: 2px solid #ff9e55;
}
.header li:before{
	background-color: red;
}
.header-img{
    margin-left: 10px;
    margin-top: 4px;
    width: 150px;
    height: 150px;
}
.header li:visited{
	background-color: #11314f;
}
/*******************CONTENT********************/
.content-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #f2f2f2;
}
.content{
	display: flex;
	flex-direction: row;
    background-color: #f2f2f2;
	padding: 15px 0;
	flex-grow: 1;
	min-height: 585px;
}
.left-content,
.top-content,
.bottom-content{
	flex-grow: 1;
	box-shadow:inset 1px 1px 75px #ff9e55;
	margin-right: 15px;
	background-color: #fff;
	display: flex;
    flex-direction: column;
	border-radius: 20px;
}
.content p {
	text-align: center;
	font-size: 25px;
	cursor: default;
}
.right-content{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.top-content{
	margin-bottom: 15px;
}
/*************************LEFT-CONTENT********************/
.left-content-text {
	text-align: center;
}
.left-content-text ul{
	display: block;
	align-items: center;
}
.left-content-text li{
	font-size: 17px;
	line-height: 1.6em;
	align-items: center;
	font-weight: normal;
	cursor: default;
	 color: #4F7191;
}
.left-content-header p{
	font-weight: bold;
	cursor: default;
	color: #263747;
}
.left-content-header{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
/***************************LEFT-CONTENT-IMG*******************************/
.left-content-img{
	display: flex;
	flex-direction: row;
	flex-grow: 2;
}
.content-img-1,
.content-img-2,
.content-img-3,
.content-img-4{
	flex-grow: 1;
	display: flex;
	margin: 1.5% 1.5%;
	box-shadow: 6px -4px 13px #7e9ee0;
	border-radius: 20px;
}
.left-content-img img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
/********************************RIGHT-TOP-CONTENT****************/
.left-content-text {
	text-align: center;
}
.top-content ul{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.top-content li{
    font-size: 15px;
    line-height: 1.6em;
    text-align: center;
    font-weight: normal;
    cursor: default;
    color: #4F7191;
}
.left-content-header p{
	font-weight: bold;
	cursor: default;
	color: #263747;
}
.left-content-header{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
/***********TABLE***************/
.table{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 10px 10vh;
}	
.table-ul{
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
.table-ul ul{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	cursor: default;
	padding: 0 50px ;
}
.table-ul li{
	flex-grow: 1;
	border-bottom: 1px solid #11314f;
	text-align: center;
	cursor: default;
	color: inherit;
}
.table-ul-right,
.table-ul-left{
	display: flex;
	flex-grow: 1;
}
/*****************FOOTER*******************************/
.footer{
	display: flex;
    height: 100px;
	align-items: center;
	background-color: #fff;
	flex: none;
}
.footer ul {
 	padding: 0 auto;
}
.footer li{
	flex-direction: row;
	flex-grow: 1;
	padding: 10px 11px;
	background-color: #fff;
	border-radius: 32% 12%;
	text-align: center;
	border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.footer li a {
	list-style: none;
	text-decoration: none;
}
.footer li:hover {
  border-top: 2px solid #ff9e55;
  border-bottom: 2px solid #ff9e55;
}
/***************BTN-FEEDBACK****************/
.feedback {
    position: absolute;
    right: 150px;
    top: 5vh;
    width: 150px;
    height: 70px;
    background: #ff9e55;
    border-radius: 50px;
    text-align: center;
}

.feedback.active {
  width: 500px;
  height: 700px;
  background-color: #ff9e55;
}
.open-close:hover{
  cursor: pointer;

  border-radius: 50px;
}
.feedback .open-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  opacity: 0;
}
.feedback:not(.active):hover{
   box-shadow:inset 5px -5px 37px #7e9ee0;
}
.feedback.active .open-close {
  width: 50px;
  height: 50px;
  background-color: #ff9e55;
  border-radius: 22%;
  padding: 31px;
  text-align: center;
  opacity: 1;
}
.feedback .content-mini {
  display: block;
}
.feedback.active .content-mini {
  display: none;
}
.feedback .content-feed {
  display: none;
}
.feedback.active .content-feed {
  display: block;
}
.content-flex-feed p{
	font-size: 17px;
}
.content-flex-feed{
	margin-top: 25px;
}
.content-flex-feed h1{
	margin: 10px 0;
}
.textArea{
	resize:none;
	width: 70%;
	border-radius: 14px;
}
.submit{
	margin: 20px;
}
.submit input{
	border-radius: 15px;
    box-shadow: 3px 2px 5px #7e9ee0;
}
/******************BTN-PRICSE*************/
.Prices {
    position: absolute;
    left: 615px;
    bottom: 135px;
    width: 150px;
    height: 70px;
    background: #ff9e55;
    border-radius: 50px;
    text-align: center;
	flex-grow: 3;
}

.Prices.active {
    width: 400px;
    height: 350px;
  	background-color: rgba(255, 158, 85, 0.7);
}
.open-close:hover{
	cursor: pointer;
	border-radius: 50px;
}
.Prices .open-close {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: right;
	opacity: 0;
}
.Prices:not(.active):hover{
   box-shadow:inset 5px -5px 37px #7e9ee0;
}
.Prices.active .open-close {
	width: 50px;
	height: 50px;
	background-color: #ff9e55;
	border-radius: 22%;
	padding: 31px;
	text-align: center;
	opacity: 1;
}
.Prices .content-mini {
  	display: block;
}
.Prices.active .content-mini {
  	display: none;
}
.Prices .content-feed {
  	display: none;
}
.Prices.active .content-feed {
  	display: block;
}